@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<p>Hisaab is main thing for savings. For more savings you have to always learn from past expences and from where to spent less..</p>
<p>This Application allows you to maintain your expences very well..</p>