@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hisaab For EveryOne<br />
    Atlanta Tower,<br />
    Near Maharaja Chhatrapati Shivajirao International Airport,<br/>
    Andheri East, Mumbai.<br/>
    <abbr title="Phone">M:</abbr>
    9924106383, 8485957385
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>