@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hisaab</h1>
    <p class="lead">Hisaab is a free online service which allows you to maintain your daily expences & from ewhich you can increase your savings...</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Hisaab For EveryOne gives you a powerful, patterns-based way to maintain your daily expences.You can add any number of accounts and make transaction between them.Register Now and start Savings....
        </p>
    </div>
    <div class="col-md-4">
        <h2>Individual Account Balance</h2>
        <p>Check Individual Account Balance With total amount credited and debited and also update description of transactions.</p>
    </div>
    <div class="col-md-4">
        <h2>Maintain Bill & Receipts</h2>
        <p>You can easily upload & see bill and receipts images/pdfs.</p>
    </div>
</div>